In [13]:
#  Lower case

sentence="What is the STEP by step guide to invest In share market in india?"
sentence_lower=str(sentence).lower()
print("Original Sentence:",sentence)
print("--"*60)
print("Lowered Sentence:",sentence_lower)

Original Sentence: What is the STEP by step guide to invest In share market in india?
------------------------------------------------------------------------------------------------------------------------
Lowered Sentence: what is the step by step guide to invest in share market in india?

In [14]:
import string
punc = string.punctuation
punc

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [15]:
sentence="Hello Everyone, this is team Data Dynamos ! We are got an project of Quora"
without_punc=[word for word in sentence.split(" ") if word not in list(punc)]
print(without_punc)

['Hello', 'Everyone,', 'this', 'is', 'team', 'Data', 'Dynamos', 'We', 'are', 'got', 'an', 'project', 'of', 'Quora']

In [16]:
import re
# Remove HTML tags
sentence='''<h3 style="color:red; font-family:Arial Black">Hello Guys How Are You</h3>'''
clean_sentence=re.sub("<.*?>","",sentence)
print(clean_sentence)

Hello Guys How Are You

In [17]:
# Removal of URLs
sentence="I visited https://github.com/surajh8596/NLP-Sentiment-Analysis-/tree/main/"
clean_sentence=re.sub("(http|https|www)\S+","",sentence)
print(clean_sentence)

I visited

<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:3: SyntaxWarning: invalid escape sequence '\S'
C:\Users\graju\AppData\Local\Temp\ipykernel_19664\1546106237.py:3: SyntaxWarning: invalid escape sequence '\S'
  clean_sentence=re.sub("(http|https|www)\S+","",sentence)

In [18]:
# Remove Extra Spaces

sentence="Hi Team     Data Dynamos,    How is your     project     going on ?"
clean_sentence=re.sub(" +"," ",sentence)
print(clean_sentence)

Hi Team Data Dynamos, How is your project going on ?

In [19]:
!pip install contractions

import contractions
sentence="We've reached final step of our data science internship. We'll meet u"

clear_sentence=contractions.fix(sentence)
print(clear_sentence)

Requirement already satisfied: contractions in c:\users\graju\anaconda3\lib\site-packages (0.1.73)
Requirement already satisfied: textsearch>=0.0.21 in c:\users\graju\anaconda3\lib\site-packages (from contractions) (0.0.24)
Requirement already satisfied: anyascii in c:\users\graju\anaconda3\lib\site-packages (from textsearch>=0.0.21->contractions) (0.3.2)
Requirement already satisfied: pyahocorasick in c:\users\graju\anaconda3\lib\site-packages (from textsearch>=0.0.21->contractions) (2.1.0)
We have reached final step of our data science internship. We will meet you

In [20]:
# Sentence Toxenization

from nltk.tokenize import sent_tokenize
sentence='Our Team name is Team Data Dynamos and we have selected Quora question. Team is good in performance'

tokens=sent_tokenize(sentence)
print(tokens)

['Our Team name is Team Data Dynamos and we have selected Quora question.', 'Team is good in performance']

In [21]:
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\graju\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [22]:
import numpy as np
import pandas as pd

In [23]:
df = pd.read_csv("IMDB_Sentiment.csv")
df.head()

,review\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t,Sentiment
0,One of the other reviewers has mentioned that ...,positive
1,A wonderful little production. <br /><br />The...,negative
2,I thought this was a wonderful way to spend ti...,positive
3,Basically there's a family where a little boy ...,negative
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive

In [24]:
df.rename(columns={'review\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t': 'review'}, inplace=True)

In [25]:
df.head()

                                              review Sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  negative
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [26]:
temp_df = df.iloc[:10000]

In [27]:
temp_df['review'][1]

'A wonderful little production. <br /><br />The filming technique is very unassuming- very old-time-BBC fashion and gives a comforting\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t'

In [28]:
temp_df['Sentiment'].value_counts()

Sentiment
positive    5000
negative    5000
Name: count, dtype: int64

In [29]:
temp_df.isnull().sum()

review       0
Sentiment    0
dtype: int64

In [30]:
temp_df.duplicated().sum()

324

In [31]:
df.drop_duplicates(inplace=True)

In [32]:
temp_df.duplicated().sum()

324

In [33]:
import re
def remove_tags(raw_text):
    cleaned_text = re.sub(re.compile('<.*?>'), '', raw_text)
    return cleaned_text

In [34]:
df['review'] = temp_df['review'].apply(remove_tags)

In [35]:
df.head()

                                              review Sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. The filming tec...  negative
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive